.rightArrow, .leftArrow {
  position: fixed;
  top: 50%;
  right: 10px;
  z-index: 1000;
  color: #7a7a7a;
  font-size: 50px;
}
.rightArrow:hover{
  color: #aaa;
}
.leftArrow {
  left: 10px;
}
.leftArrow:hover {
  color: #aaa;
}
.closeBtn {
  font-size: 20px;
  cursor: pointer;
  display: none;
  color: #df0a0a;
  padding: 5px 15px;
  border-radius: 100%;
}
.closeBtn:hover {
  color: #ff3333;
  background: #f0f0f0;
}
.showPostContainer {
  background: white;
  border-radius: 39px;
  min-width: 768px;
  padding: 10px 10px 5px 10px;
  margin: 10px;
  width: 50vw;
  margin: 10px auto;
  position: relative;
}
.topPost {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.rightTopPost {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.rightTopPost img{
  width: 39px;
  height: 39px;
}
.postMatadata {
  text-align: left;
  margin: 0 10px;
}
.postMatadata h4 {
  color: #333;
  font-weight: 500;
  font-size: 15px;
}
.postMatadata span {
  color: #777;
  font-size: 12px;
}
.leftTopPost {
  text-align: right;
}
.threeDots {
  cursor: pointer;
  padding: 5px 12px;
  border-radius: 100%;
}
.threeDots:hover {
  background: #d0d0d0;
}
.threeDots div {
  border-radius: 100%;
  width: 3px;
  height: 3px;
  background: #777;
  margin: 3px;
}
.postMenu {
  min-width: 300px;
  width: 30%;
  overflow: hidden;
  position: absolute;
  top: 20px;
  right: 0px;
  margin: 0 10px;
  border-radius: 49px;
  background: #f9f9f9;
  box-shadow: 0px 5px 5px -2px rgba(0, 0, 0, 0.1);
  z-index: 9;
}
.postMenuContent {
  padding: 20px 0;
  cursor: pointer;
}
.postMenuContent:hover {
  background: #f0f0f0;
}
.postMenuItem {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.postMenuItem i {
  font-size: 30px;
  color: #555;
  padding: 0 5px;
}
.postMenuText h3 {
  font-size: 15px;
  color: #333;
}
.postMenuText small {
  font-size: 12px;
  color: #777
}
.fullScreen.exitPostMenu {
  z-index: 8;
  pointer-events: all;
}
.midelPost {

}
.PostText {
  padding: 0 15px;
  color: #000;
  font-size: 16px;
  text-align: left;
  margin-top: 10px;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(263px, 1fr));
}
.img-container {
  overflow: hidden;
  margin: 3px;
  position: relative;
}
.img-container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s ease-out;
  cursor: pointer;
}
.img-container img.fullmode {
  position: fixed;
  top: 50%;
  left: 50%;
  height: 80vh;
  width: auto;
  transform: translate(-50%, -50%);
  z-index: 100;
}
.img-container video{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s ease-out;
  cursor: pointer;
}
.img-container video.fullmode {
  position: fixed;
  top: 50%;
  left: 50%;
  height: 80vh;
  width: auto;
  transform: translate(-50%, -50%);
  z-index: 100;
}
.img-container i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}
.bottomPost {
  width: 100%;
}
.upperBottomPost{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.commentCount {
  color: #777;
  font-size: 14px;
  margin-right: 10px;
  cursor: pointer;
}
.bottomBottomPost {
  width: 100%;
  border-top: 1px solid #f0f0f0;
  padding-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.commentsBTN{
  width: 30%;
  min-width: 130px;
  background: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #777;
  border-radius: 39px;
  cursor: pointer;
}
.commentsBTN:hover{
  background: #f0f0f0;
}
.comments {
  display: none;
  padding: 0px;
  position: relative;
  bottom: 0;
  left: 0;
  height: 100%;
  min-height: 500px;
  width: 100%;
  background: white;
  border-radius: 39px;
}
.topCommentsDIV{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  border-bottom: 1px solid #f0f0f0;
}
.bottomCommentsDIV {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 1px solid #f0f0f0;
  padding: 5px 15px;
}
.bottomCommentsDIV form {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.writeCommentInput {
  width: 90%;
  background-color: #f0f0f0;
  margin: 10px 0;
  border-radius: 55px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  position: relative;
}
.writeCommentInput i {
  text-align: center;
  line-height: 55px;
  color: #acacac;
  transition: 0.5s;
  font-size: 1.1rem;
}
.writeCommentInput input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  width: 90%;
  color: #333;
}
.writeCommentInput input::placeholder {
  color: #aaa;
  font-weight: 500;
}
.writeCommentBTN{
  font-size: 20px;
  color: #5995fd;
  background: none;
  border: none;
  padding: 10px 15px;
  border-radius: 100%;
}
.writeCommentBTN:hover {
  color: #4d84e2;
  background: #f0f0f0;
}
.midelCommentsDIV {
  overflow-x: scroll;
  max-height: 375px;
}
.oneComment {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 10px 0 0 0;
}
.commentContainer {
  background: #f0f0f0;
  padding: 10px 15px 0 15px;
  border-radius: 39px;
  max-width: 90%;
  box-shadow: -2px 5px 5px -2px rgba(0, 0, 0, 0.1);
}
.commentMatadata {
  display: grid;
}
.commentMatadata h4 {
  color: #555;
  font-size: 13px;
}
.commentMatadata span {
  color: #999;
  font-size: 10px;
}
.commentTXT{
  color: #333;
  font-size: 15px;
  padding: 5px;
}
.topComment{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.commentOption {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 12px;
  color: #777;
  padding: 0 25px;
}
.commentOption span {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .showPostContainer{
    width: 100%;
    min-width: 0;
  }
  .gallery{
    grid-template-columns: repeat(auto-fit, minmax(43vw, 1fr));
  }
  .img-container img.fullmode {
    width: 80vw;
    height: auto;
  }
  .img-container video.fullmode {
    width: 80vw;
    height: auto;
  }
}
